.error {
  &-box {
    background: url(../../../assets/images/background/error-bg.jpg) no-repeat center center #fff;
    height: 100%;
    position: fixed;
    width: 100%;

    .footer {
      left: 0px;
      right: 0px;
      width: 100%;
    }
  }

  &-body {
    padding-top: 5%;

    h1 {
      font-size: 210px;
      font-weight: 900;
      line-height: 210px;
      text-shadow: 4px 4px 0 #ffffff, 6px 6px 0 #263238;
    }
  }
}
