<h3>
  {{leyenda}}
</h3>


<div class="input-group mb-3">
  <div class="input-group-prepend" id="button-addon3">
    <button
    class="btn btn-primary"
    type="button"
    (click)="cambiarValor(-5)"
    >
      <i class="fa fa-minus"></i>
    </button>
  </div>

  <input type="text"
        class="form-control"
        placeholder=""
        aria-label="Example text with two button addons"
        aria-describedby="button-addon3"
        name="progreso"
        [(ngModel)]="progreso">

  <div class="input-group-append" id="button-addon4">
    <button
    class="btn btn-primary"
    type="button"
    (click)="cambiarValor(+5)"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
