<h3>
  {{leyenda}} - {{progreso}}
</h3>


<div class="input-group mb-3">
  <div class="input-group-prepend" id="button-addon3">
    <button
    [ngClass]="btnClass"
    type="button"
    (click)="cambiarValor(-5)"
    >
      <i class="fa fa-minus"></i>
    </button>
  </div>

  <input #txtProgress
         type="number"
         class="form-control"
         placeholder=""
         aria-label="Example text with two button addons"
         aria-describedby="button-addon3"
         name="progreso"
         [(ngModel)]="progreso"
         (ngModelChange)="onChanges($event)"
         min="1"
         max="100"
        >

  <div class="input-group-append" id="button-addon4">
    <button
    [ngClass]="btnClass"
    type="button"
    (click)="cambiarValor(+5)"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>
